<%= render 'layouts/header_admin_connected' %> 
<div class="container mt-4">

	<% if params['result'] == "create" %>

		<div class="alert alert-success" role="alert">
		  <strong>Create ok !</strong> You successfully create an user.
		</div>

	<% elsif params['result'] == "delete" %>

		<div class="alert alert-success" role="alert">
		  <strong>Delete ok !</strong> You successfully delete an user.
		</div>

	<% end %>

	<div class="page-header">
	<a href="/admin/admins/add" class="btn btn-primary float-right">Add admin</a>
	  	<h1>Admins <small>| Index</small></h1>	
	</div>

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/admin">Home</a></li>
		<li class="breadcrumb-item active">Admins</li>
	</ol>

	<table class="table mt-4">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>First Name</th>
	      <th>See more</th>
	    </tr>
	  </thead>
	  <tbody>
		<% if !@admins.blank? %>
			<% @admins.each do |admin| %>
		    <tr>
		      <th scope="row"><%= admin['id'] %></th>
		      <td><%= admin['username'] %></td>
		      <td><a href="/admin/admins/<%= admin['id'] %>" class="btn btn-sm btn-primary">Click</a></td>
		    </tr>
			<% end %>
		<% else %>
		    <tr>
		      <th scope="row">0</th>
		      <td>No admin found</td>
		    </tr>
		<% end %>
	  </tbody>
	</table>

	<%= will_paginate @admins, class: "pagecenter" %>

</div>

